
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    scrollbar-width: thin;
    scrollbar-color: #475569 #1e293b;
}


@keyframes pulse-slow {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}

.animate-pulse-slow {
    animation: pulse-slow 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}